<!DOCTYPE html>
<html>

<head>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class = 'profile_page_body'>

<% if current_user or current_user.try(:admin?) %>
<br><br>
<h5 align = 'center' >  <%= t('common.welcome')%><b><%= current_user.username%> </b></h5>
<br><br>

<center>

<%= link_to t('common.edit_profile'), edit_user_registration_path , class: 'btn btn-primary'%>
<%= link_to t("common.create_company"), new_company_path, class: 'btn btn-primary'%>


</center>


<% else %>














<%end%>
</div>



</html>