<%= form_for @company, html: {multipart: true}   do |form| %>

  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control', style: 'border: 1px solid black;' %>
  </div>

  <div class="form-group">
    <%= form.label :short_discription %>
    <%= form.text_field :short_discription, class: 'form-control', style: 'border: 1px solid black;' %>
  </div>

  <div class="form-group">
    <%= form.label :discription %>
    <%= form.text_area :discription, class: 'form-control', style: 'border: 1px solid black;' %>
  </div>

  <div class="form-group">
    <%= form.label :goal %>
    <%= form.text_field :goal, class: 'form-control', style: 'border: 1px solid black;' %>
  </div>


  <div class="form-group">
  
    <%= form.file_field :images, multiple: true, class: 'upload-img', style: 'border: 1px solid black;'%>

  </div>

  <div class="form-group">
    <%= form.submit  t('common.create'), class: 'btn btn-primary'%>
  </div>

<% end %>
