  
<% if user_signed_in? and current_user.id == @company.creator_id%>
<br><br><br><br>
<h1 align = 'center'><%=t('common.edit_company')%></h1>
<br>
<%= render 'form', company: @company %>

<% elsif user_signed_in? and current_user.id != @company.creator_id%>
<center>


<%= render 'donate', company: @company %>

</center>
<% else %>
  <h2 align = 'center'>
    <br>
    <%= t('common.log_in_view')%>
    <br>
    <br>
    <%= link_to t('common.log_in'), new_user_session_path, :class => 'navbar-link'  , class: 'btn btn-primary' %>
    </h2>  
  
<% end %>

<center>
<%= link_to t('common.back'), companies_path %>
</center>