<p id="notice"><%= notice %></p>


<div class = 'show_company'>

<h2 class = 'company_title' align = 'center'><%= @company.title %></h2>

  
<hr>
<h3 align = 'center'><%= t('companies.show.money')%><br><%= @company.current_sum %>$/<%= @company.goal %>$
<br>
<%= link_to t('companies.show.edit'), edit_company_path(@company)%>


</h3> 

 <br><br>

<div class = 'discription'>
  
  <%= @company.discription %>
</div>


<center>
<br>

<% if user_signed_in? and current_user.id == @company.creator_id%>


<form><button><%= link_to t('companies.show.edit'), edit_company_path(@company) %></button></form> <br>

<form><button><%= link_to t('companies.show.finish'), edit_company_path(@company) %></button></form> <br>


<% else %>



<% end %>
</center>
</div>